<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <OutputType>{{ output_type }}</OutputType>
    <TargetFramework>{{ target_framework }}</TargetFramework>
    <ImplicitUsings>{{ implicit_usings }}</ImplicitUsings>
    <Nullable>{{ nullable }}</Nullable>
    <AssemblyName>{{ assembly_name }}</AssemblyName>
    <RootNamespace>{{ root_namespace }}</RootNamespace>
  </PropertyGroup>
{% if project_references %}
  <ItemGroup>
{% for reference in project_references %}    <ProjectReference Include="{{ reference }}" />
{% endfor %}  </ItemGroup>
{% endif %}
{% if vendor_references %}
  <ItemGroup>
{% for reference in vendor_references %}    <Reference Include="{{ reference.include }}">
      <HintPath>{{ reference.hint_path }}</HintPath>
{% if reference.private is not none %}      <Private>{{ reference.private }}</Private>
{% endif %}    </Reference>
{% endfor %}  </ItemGroup>
{% endif %}
</Project>
